body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main"
    "section section section"
    "footer footer footer";
}

header {
    padding: 30px;
    text-align: center;
    background: #99BC85;
    color: black;
    font-size: 30px;
    grid-area: header;
}

header > h1{
    color: darkred;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.extrabar{
    display: grid;
    grid-template-columns: 50px 1fr 50px 50px; /* Donner priorité d'espace au champs de saisie */
    column-gap: 20px;
}

#userIcon, #shopBag{
    justify-self: end; /* Aligner verticalement mes DEUX DERNIERS ITEMS de GRID à DROITE */
}

.extrabar #barrederecherche{
    border-radius: 25px;
    border-style: none;
}

nav {
    padding: 15px;
    text-align: left;
    background: #E4EFE7;
    color: black;
    font-size: 20px;
    grid-area: nav;
}

nav a{
    text-decoration: none;
}

nav a:hover{
    color: darkgreen;
    font-weight: bold;
}

main{
    margin: 10px;
    padding: 10px;
    background-color: lightskyblue;
    grid-area: main;
}

.decouverte{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.categories{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.categories a img{
    border-radius: 50%;
}

.nouveaute{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.bouton{
    display: flex;
    justify-content: space-evenly;
    margin: 40px;
    padding: 40px;
}

.linkBtn{
    text-decoration: none;
    background-color: #E4EFE7;
    color: black;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    border-style: solid;
    border-width: 1px;
    transition-duration: 0.6s;
}

.linkBtn:hover{
    box-shadow: 5px 5px 1px 1px lightgreen;
    background-color: darkgreen;
    color: #E4EFE7;
}

.paieLivrai{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.paieLivrai ul{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

.paieLivrai ul li:nth-child(2){
    margin-bottom: 50px;
}

section {
    background: #E4EFE7;
    padding: 20px;
    grid-area: section;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center; /* Centre de facon vertical mes ITEMS de mes COLONNES */
}

ul{
    list-style: none; /* Enleve les points aux "li" */
}

section ul{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

section ul:nth-child(1){
    align-items: flex-start; /* Comme FLEX-DIRECTION est COLUMN, il faut utiliser align-items pour ALIGNES MES ITEMS DE MON FLEXBOX de façon HORIZONTAL A GAUCHE */
}

section ul:nth-child(2){
    align-items: flex-end; /* Comme FLEX-DIRECTION est COLUMN, il faut utiliser align-items pour ALIGNES MES ITEMS DE MON FLEXBOX de façon HORIZONTAL A DROITE */
}

#champMail{
    border-radius: 25px;
}

footer {
    padding: 30px; /* Je le donne un petit espace interne pour separer le GRID de FOOTER */
    background: #99BC85;
    color: black;
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px; /* Je le donne un espace entre les colonnes */
    justify-items: center; /* Centre de facon vertical mes ITEMS de mes COLONNES */
    
}

footer ul{
    display: flex;
    flex-direction: column; /* Je veux que l'axe principal soi le vertical */
    row-gap: 20px; /* Pour le donner l'espace entre les items de mon flex (c'est le "li") */
}

#mesFleurs{
    background-color: aquamarine;
    display: grid;
    margin: 2%;
    padding: 2%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 10px;
    justify-items: center;
}

.category1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* TRES IMPORTANT : justify-content marchera ne fonctionnera jamais car les colonnes prendre TOUT la place (1fr). https://github.com/tailwindlabs/tailwindcss/discussions/4441 */
    gap: 20px;
    justify-items: center;
    
}

.category1 a img{ /* pour faire les images résponsives et éviter de se agrandir au-dessous (max-width: 100%) de sa taille */
    max-width: 100%;
    height: auto;
}

.ronde{
    border-radius: 50%;
}

/* TP Vendredi 18/04/25 - Génerateur Dynalique d'éléments */
.fleur-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 30px;
    justify-content: center;
}

.fleur-grid .carte{
    border: 1px black solid;
    border-radius: 12px;
    margin: 3px;
    justify-items: center;
    background-color: #E4EFE7;
}

.fleur-grid .carte img{
    width: 100%;
}

/* Fin TP Vendredi 18/04/25 - Génerateur Dynalique d'éléments */

article{
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "photo side"
    "photo side"
    "photo side"
    "similaire side";
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
}

.mainPhoto{
    grid-area: photo;
    place-self: center;
    background-color: yellow;
}

.mainPhoto img{
    max-width: 100%;
    height: auto;
}

aside{
    grid-area: side;
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px 20px;
}

aside h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    margin: 20px 0px;
}

.prix{
    font-size: 25px;
    margin: 20px 0px;
}

#boutonAchat{
    background-color: #E4EFE7;
    border-width: 0;
    border-radius: 10px;
    font-size: 20px;
    margin: 25px;
    padding: 15px;
}

.imagesPaie{
    align-self: center;
}

.imagesPaie img{
    max-width: 100%;
    height: auto;
}

.similareArticles{
    grid-area: similaire;
    background-color: lightcoral;
    place-self: center;
}

.similareArticles p{
    font-size: 25px;
    margin: 15px 0px;
}

.photosSimilare {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Je fais cette grid pour avoir la taille des images responsive, ça marche pas avec flexbox */
    gap: 5px;
}

.photosSimilare img{
    max-width: 100%;
    height: auto;
}

main h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

form{
    margin: 2% 10% 5%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form label{
    font-family: 'Courier New', Courier, monospace;
}

form input{
    border-radius: 10px;
    border-width: 0;
    background-color: #E4EFE7;
    padding: 5px;
    margin: 0 0 2%;
}

form #envoi{
    margin: 0px 35% 5%;
}