body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main"
    "section section section"
    "footer footer footer";
}

header {
    padding: 30px;
    text-align: center;
    background: #99BC85;
    color: black;
    font-size: 30px;
    grid-area: header;
}

header > h1{
    color: darkred;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.extrabar{
    display: grid;
    grid-template-columns: 50px 1fr 50px 50px; /* Donner priorité d'espace au champs de saisie */
    column-gap: 20px;
}

#userIcon, #shopBag{
    justify-self: end; /* Aligner verticalement mes DEUX DERNIERS ITEMS de GRID à DROITE */
}

.extrabar #barrederecherche{
    border-radius: 25px;
    border-style: none;
}

nav {
    padding: 15px;
    text-align: left;
    background: #E4EFE7;
    color: black;
    font-size: 20px;
    grid-area: nav;
}

nav a{
    text-decoration: none;
}

nav a:hover{
    color: red;
    font-weight: bold;
}

main{
    margin: 10px;
    padding: 10px;
    background-color: aquamarine;
    grid-area: main;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "livraipaie livraipaie"
    "savfairetarif savfairetarif";
}

.decouverte{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.categories{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.categories > img{
    border-radius: 50%;
}

.nouveaute{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.bouton{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    padding: 10px;
}

.livraisonpaiement{
    grid-area: livraipaie;
    display: flex;
    justify-content: space-around;
}

.savoirfairetarif{
    grid-area: savfairetarif;
    display: flex;
    justify-content: space-around;
}

section {
    background: #E4EFE7;
    padding: 20px;
    grid-area: section;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center; /* Centre de facon vertical mes ITEMS de mes COLONNES */
}

section ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

section ul:nth-child(1){
    align-items: flex-start; /* Comme FLEX-DIRECTION est COLUMN, il faut utiliser align-items pour ALIGNES MES ITEMS DE MON FLEXBOX de façon HORIZONTAL A GAUCHE */
}

section ul:nth-child(2){
    align-items: flex-end; /* Comme FLEX-DIRECTION est COLUMN, il faut utiliser align-items pour ALIGNES MES ITEMS DE MON FLEXBOX de façon HORIZONTAL A DROITE */
}

#champMail{
    border-radius: 25px;
}

footer {
    padding: 30px; /* Je le donne un petit espace interne pour separer le GRID de FOOTER */
    background: #99BC85;
    color: black;
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px; /* Je le donne un espace entre les colonnes */
    justify-items: center; /* Centre de facon vertical mes ITEMS de mes COLONNES */
    
}

footer ul{
    list-style: none; /* Enleve les points aux "li" */
    display: flex;
    flex-direction: column; /* Je veux que l'axe principal soi le vertical */
    row-gap: 20px; /* Pour le donner l'espace entre les items de mon flex (c'est le "li") */
}